.membership-bg {
  background-color: whitesmoke;
}
.membership-container {
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 100px 0px;
}
.membership-card {
  border: none;
  box-shadow: 10px 10px 40px gray;
  border-radius: 20px;
}
