.delivery-bg {
  background-color: #ddd;
}
.delivery-container {
  background-color: #fff;
  margin-top: 100px;
  margin-bottom: 100px;
  /* padding: 100px 0px; */
}
.orange-bg {
  background-color: orange;
}
.orange-text {
  color: orange;
}
