.contact-section-bg {
  background-color: whitesmoke;
}
.contact-section-container {
  padding-bottom: 100px;
  padding-top: 100px;
}

.contact-section-title {
  padding-bottom: 50px;
}

.contact-icons {
  font-size: 70px;
}
.contact-div {
  background-color: #fff;
}
