.update-service-section-bg {
  background-color: whitesmoke;
}
.update-service-section-container {
  padding-bottom: 100px;
  padding-top: 100px;
}
.update-service-section-title {
  padding-bottom: 20px;
}
.update-service-section-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.update-service-section-container form input,
textarea {
  width: 50%;
  margin-bottom: 10px;
}
