.services-container {
  margin-top: 70px;
  padding: 60px 0px;
}
.manage-services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.manage-services-container-bg {
  background-color: aliceblue;
}

@media only screen and (max-width: 688px) {
  .manage-services-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 689px) and (max-width: 991px) {
  .manage-services-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
