.branches-bg {
  background-color: whitesmoke;
}
.branches-container {
  margin-top: 100px;
  /* margin-bottom: 100px; */
  padding: 100px 0px;
}
.branches-card {
  border: none;
  box-shadow: 10px 10px 40px gray;
  border-radius: 20px;
}
